---
import DocumentsList from "../components/DocumentsList";
import ModalLink from "../components/ModalLink";
import RandomEntryCard from "../components/RandomEntryCard";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Dictionnaire grec-français en ligne"
  description="Consultez le dictionnaire grec–français d'Anatole Bailly dans l'édition Bailly 2020 Hugo Chávez."
>
  <div
    class="mx-auto items-center px-6 sm:px-12 lg:flex lg:h-[calc(100dvh-theme(spacing.16))] lg:max-w-screen-lg lg:px-24 xl:px-0"
  >
    <section class="my-6 flex-1 space-y-2 sm:my-12 lg:space-y-4 xl:space-y-6">
      <h1 class="text-3xl font-bold xl:text-4xl">
        Consultez le dictionnaire<br />grec&ndash;français d'Anatole&nbsp;Bailly
      </h1>
      <p class="text-xl xl:text-2xl">
        Dans l'édition Bailly 2020 Hugo&nbsp;Chávez (<a href="/à-propos"
          >à&nbsp;propos</a
        >).
      </p>
    </section>

    <aside class="flex-1 pb-6 sm:pb-12 lg:pb-0">
      <RandomEntryCard client:only="solid-js" />
    </aside>
  </div>

  <div
    class="fixed bottom-3 right-3 mb-[env(safe-area-inset-bottom)] mr-[env(safe-area-inset-right)] lg:bottom-6 lg:right-6"
  >
    <ModalLink
      client:only="solid-js"
      type="button"
      label="Annexes"
      modalIcon="PaperClip"
      modalTitle="Annexes"
    >
      <DocumentsList slot="modalContent" />
    </ModalLink>
  </div>
</BaseLayout>
