---
import Mentions from "../components/Mentions.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="À propos"
  description="Apprenez-en davantage sur le Bailly en ligne, un dictionnaire de référence numérisé."
>
  <div
    class="relative mx-auto grid-cols-12 items-center gap-12 p-6 sm:max-w-screen-sm sm:p-12 xl:grid xl:max-w-screen-xl"
  >
    <article class="col-span-6 space-y-6">
      <header class="sm:text-center xl:text-left">
        <h1 class="text-3xl font-bold xl:text-4xl">
          À propos d'un dictionnaire<br />
          de référence numérisé
        </h1>
      </header>

      <Mentions class="sm:!my-12 xl:hidden" />

      <section class="space-y-3 text-xl lg:space-y-6">
        <p>
          <strong>Le «&nbsp;Bailly.&nbsp;»</strong> Le dictionnaire d'Anatole Bailly
          est un ouvrage de référence incontournable pour les hellénistes francophones.
          Depuis sa parution initiale, en 1894, le «&nbsp;Bailly&nbsp;» a connu de
          nombreuses rééditions témoignant de son succès. Le texte que nous proposons
          ici est fondé sur la quatrième édition (1935), aujourd'hui passée dans
          le domaine public. Celui-ci a fait l'objet de révisions substantielles,
          que nous détaillons ci-dessous.
        </p>

        <p>
          <strong>Numérisation et révision.</strong> Cette application doit avant
          tout son existence au travail préalable de M. Gérard Gréco et de son équipe.
          En effet, le <em>«&nbsp;Bailly 2020 Hugo Chávez&nbsp;»</em>, que nous
          mettons à votre disposition, est le résultat d'une entreprise de
          numérisation et de révision sans précédent du dictionnaire d'Anatole
          Bailly. Il aura d'abord été nécessaire à M. Gréco et à son équipe de
          procéder à la numérisation du texte (procédé de reconnaissance optique
          des caractères ou <em>océrisation</em>), avant que de pouvoir
          entreprendre une fastidieuse étape de correction manuelle. Le texte de
          1935 n'étant pas exempt d'erreurs, un travail de correction, effectué
          à partir d'ouvrages de référence, s'est ensuite imposé. Enfin,
          l'équipe de M. Gréco a procédé à une mise à jour des étymologies et de
          la toponymie, ainsi qu'à la normalisation des références. Pour de plus
          amples détails au sujet de cette édition numérique, nous vous
          suggérons de vous reporter à sa <a
            href="/documents/notice-édition-2020.pdf"
            target="_blank">notice</a
          >.
        </p>

        <p>
          <strong>Autres éditions numériques.</strong> Vous trouverez sur la page
          du projet de numérisation du «&nbsp;Bailly&nbsp;» une
          <a
            target="_blank"
            rel="noopener"
            href="http://gerardgreco.free.fr/spip.php?article52">édition PDF</a
          >
          proposant une mise en page similaire à celle de l'ouvrage d'origine. Le
          <a
            target="_blank"
            rel="noopener"
            href="https://archive.org/details/BaillyDictionnaireGrecFrancais"
            >fac-similé</a
          >
          de l'édition de 1935 est par ailleurs disponible sur l'<em
            >Internet Archive</em
          >.
        </p>
      </section>
    </article>

    <Mentions class="col-span-6 hidden xl:grid" />
  </div>

  <div class="background"></div>
</BaseLayout>

<style>
  body {
    @apply bg-none;
  }

  .background {
    @apply absolute;
    @apply inset-0;
    @apply -z-10;
    @apply bg-top;
    @apply bg-no-repeat;
    @apply bg-cover;
    mask-image: linear-gradient(
      to top right,
      transparent 55%,
      black 65%,
      black 100%
    );
    @apply xl:bg-[url('/bailly-illustration.webp')];
    @apply opacity-30 dark:opacity-20;
    @apply dark:bg-blend-darken;
    @apply dark:invert;
  }
</style>
