---
import { ClientRouter } from "astro:transitions";
import LoadingIndicator from "astro-loading-indicator/component";
import AppHeader from "./partials/AppHeader.astro";
import "../global.css";

interface Props {
  title: string;
  description?: string;
  noindex?: boolean;
}

let { title, description, noindex } = Astro.props;

const currentPath = decodeURIComponent(Astro.url.pathname);

if (currentPath === "/") title = "Bailly.app — " + title;
else title += " — Bailly.app";
---

<!doctype html>
<html lang="fr" transition:animate="none">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content={description} />
    {noindex ? <meta name="robots" content="noindex" /> : ""}
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover"
    />
    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="shortcut icon" href="/favicon/favicon-dark.ico" media="(prefers-color-scheme: dark)" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Bailly" />
    <link rel="manifest" href="/site.webmanifest" />
    <link
      rel="preload"
      href="/fonts/InterVariable.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Brill-Roman.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Brill-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <title>{title}</title>
    <script is:inline data-astro-rerun>
      if (
        localStorage.getItem("theme") === "dark" ||
        (!localStorage.getItem("theme") &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", ({ matches }) => {
          if (matches) {
            document.documentElement.classList.add("dark");
          } else {
            document.documentElement.classList.remove("dark");
          }
        });
    </script>
    <!-- colors.primary.600 -->
    <LoadingIndicator color="#cf6710" />
    <ClientRouter />
  </head>

  <body>
    <AppHeader />

    <main
      class="mt-24 pl-[env(safe-area-inset-left)] pr-[env(safe-area-inset-right)] md:mt-16"
    >
      <slot />
    </main>
  </body>
</html>

<script>
  /*import { romanizeGreekStrings } from "../helpers";
  document.addEventListener("astro:page-load", () => {
    window.addEventListener("storage", romanizeGreekStrings);
    romanizeGreekStrings();
  });*/
</script>
