---
import BaseLayout from "./BaseLayout.astro";

interface Props {
  title: string;
  description: string;
  noindex?: boolean;
}

let { title, description, noindex } = Astro.props;
---

<BaseLayout title={title} description={description} noindex={noindex}>
  <div class="p-6 lg:py-12 xl:grid xl:grid-cols-12">
    <div
      class="wl:mx-6 mx-auto w-full max-w-screen-sm xl:col-span-6 xl:col-start-3"
    >
      <slot />
    </div>
  </div>
</BaseLayout>
